body {
    font-family: 'Roboto', sans-serif;
}

.header-navbar {
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;


}

.header-navbar-menu-item {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;

    color: #16a085;
    margin: 0 32px;

}

.header-navbar-image {
    background-image: url("../img/navbar-image.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 790px;



}

.article {
    padding-top: 59px;
    padding-bottom: 112px;
    background-color: #f5f6f7;
}

.container {
    margin: 0 auto;
    max-width: 1059px;
}

.article-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 400;
    color: #373737;
    margin-bottom: 34px;
    letter-spacing: 3.3px;
}

.article-text {
    text-align: center;
    line-height: 26px;
    font-size: 16px;
    font-weight: 400;
    color: #373737;
    margin-bottom: 34px;
    letter-spacing: 2.4px;
}

.article-call-to-action {
    width: 192px;
    display: block;
    background-color: #16a085;
    margin: 0 auto;
    text-align: center;
    color:white;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 3px;
}
.footer {
    padding-top: 42px;
    padding-bottom: 42px;
}

.copyright-text {
    text-align: right;
    color: #373737;
    font-size: 16px;
    letter-spacing: 2.4px;
    font-weight: 700;
}